body {
    margin: 0;
  }
  .section {
    padding: 1rem 2rem;
  }
  .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .form-control {
    display: grid;
    grid-gap: 0.5rem;
  }
  .form-control > label {
    font-weight: bold;
    color: rgba(0,0,0,0.75);
    font-size: 0.875rem;
  }
  .form-control > input {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #d7d7e7;
    font-size: 1.25rem;
    padding: 10px 15px;
    outline: none;
  }
  .toppings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
  }
  .topping {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    background: rgba(0,0,0,0.05);
    cursor: pointer;
  }
  .topping.active {
    background: #1a98e1;
    color: white;
  }
  .topping > .img {
    padding: 5px;
    background: #e6e6e6;
  }
  .topping img {
    display: block;
    width: 35px;
    height: 35px;
  }
  .summary {
    padding: 0;
    list-style: none;
  }
  .summary > li {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .summary > li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .total {
    text-align: right;
    font-size: 1.25rem;
  }
  button[type="submit"] {
    width: 100%;
    background: #98C550;
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }