body {
    margin: 0;
}

/* .banner {
    height: 80vh; 
    background: black;
    color: white; 
    text-align: center;
    position:relative;
    /* 会被第一个元素的margin top， 最后一个 margin bottom 影响 */
/* }

.banner-content {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%; 
    left:50%; 
} */ 

.banner {
    height: 80vh; 
    background: black;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-image:;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; */
  }

.banner-content {
    width: 60%; 
}

.banner-content > h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 48px; 
} 

.banner-content > h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #fdbc2c;
    font-size: 32px; 
}

.banner-content > button {
    margin-top: 16px;
    margin-bottom:0;
    border:1px solid #fdbc2c;
    outline:0;
    padding:12px 18px;
    background: transparent;
    color: #fdbc2c;
    font-size: 16px; 
 }